@font-face {
    font-family: "Segoe UI Emoji";
    src:
    local("Segoe UI Emoji"),
    url("/fonts/seguiemj.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'MiSans';
    src: url('/fonts/misans/misans-thin/0.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MiSans';
    src: url('/fonts/misans/misans-extralight/0.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MiSans';
    src: url('/fonts/misans/misans-light/0.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MiSans';
    src: url('/fonts/misans/misans-normal/0.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MiSans';
    src: url('/fonts/misans/misans-medium/0.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MiSans';
    src: url('/fonts/misans/misans-semibold/0.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* 以下部分保持不变 */
:root {
    --vp-font-family-base:
    'MiSans',
    system-ui,
    -apple-system,
    'Segoe UI Emoji',
    'Apple Color Emoji',
    'Noto Color Emoji',
    sans-serif;
    --vp-font-family-mono:
    'JetBrains Mono',
    'MiSans',
    monospace;
}

body {
    font-family: var(--vp-font-family-base);
}

code, kbd, pre, samp {
    font-family: var(--vp-font-family-mono);
}
